# Temporary and log files
*.pyc
*.log
*.lp
*.lprof
profiling
*.nl
*.sol

# Folders
eesrep.egg-info
garbage
htmlcov
dist
.coverage
.pytest_cache
__pycache__
docs/eesrep-doc
build

# Doc replaced files
docs/eesrep-sphinx-sources/md_doc/README.md
docs/eesrep-sphinx-sources/tutorials/*.ipynb